<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Coex</span> 
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#educator">Educator</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="#entertainer">Entertainer</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#appearances">Appearances</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

        <div class="intro-jumbotron">
            <div class="container">
               
            </div>
        </div>

    <!-- Intro Header -->
    <header id="intro" class="container" >
      <div class="intro-body intro-left-pic" >
          <div class="hovereffect">

            <div class="overlay">
                <h2>Educator</h2>
            </div>
          </div>
      </div>
      <div class="intro-body intro-right-pic" >
          <div class="hovereffect">
            <div class="overlay">
                <h2>Entertainer</h2>
            </div>
          </div>      
        </div>
    </header>

    <section id="educator" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Educator</h2>
                <p>Include writeup about Coex's profile as an entertainer.</p>
            </div>
        </div>
    </section>

    <section id="entertainer" class="content-section text-center">
        <div class="entertainer-section">
            <div class="container">
                <div class="col-lg-6">
                    <h2 class="normal">COEX, the Entertainer</h2>
                    <p>Include writeup about Coex's profile as an entertainer.</p>
                  
                </div>
            </div>
        </div>
    </section>

    <section id="portfolio" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Portfolio</h2>
                <p>Include selection of pictures and videos. Testimonial section can be added into this as well. Replace photos of chick with selection later. </p>

              <div id="masonry">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/1.jpg">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/2.jpg">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/3.jpg">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/4.jpg">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/6.jpg">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/8.jpg">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/9.jpg">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/7.jpg">
              </div> 

            </div>
        </div>
    </section>

    <section id="appearances" class="container content-section text-center">
              <div class="container">
                <h2>AS APPEARED ON</h2>
                <div class="row">

                  <div class="col-lg-2">
                    <div class="service-box">
                      <div class="ratio img-responsive img-circle" style="background-image:url(http://placehold.it/150x150)">
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-2">    
                   <div class="service-box">
                    <div class="ratio img-responsive img-circle" style="background-image:url(http://placehold.it/150x150)">
                    </div>
                    </div>
                  </div>

                  <div class="col-lg-2">
                    <div class="service-box">
                    <div class="ratio img-responsive img-circle" style="background-image:url(http://placehold.it/150x150)">
                    </div>
                  </div>
                  </div>

                  <div class="col-lg-2">
                    <div class="service-box">

                    <div class="ratio img-responsive img-circle" style="background-image:url(http://placehold.it/150x150)">
                    </div>
                  </div>
                  </div>

                  <div class="col-lg-2">
                     <div class="service-box">
                    <div class="ratio img-responsive img-circle" style="background-image:url(http://placehold.it/150x150)">
                    </div>
                  </div>
                  </div>

                 <div class="col-lg-2">
                    <div class="service-box">

                    <div class="ratio img-responsive img-circle" style="background-image:url(http://placehold.it/150x150)">
                    </div>
                  </div>
                </div>

                </div>
              

        </div>
      </section>


    <!-- Footer -->
    <footer>
     <div class="container">
            <div class="row">
                <div class="col-md-4">
                  
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-youtube-play fa-lg"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </footer>

  

    <!-- Plugin JavaScript -->
    <script src="assets/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="assets/grayscale.js"></script>

</body>

</html>